[submodule "add-big-number"]
	path = add-big-number
	url = C:\\Users\\userpc\\Dropbox\\code\\web\\burrow-app\\add-big-number
[submodule "divide-big-number"]
	path = divide-big-number
	url = C:\\Users\\userpc\\Dropbox\\code\\web\\burrow-app\\divide-big-number
[submodule "multiply-big-number"]
	path = multiply-big-number
	url = C:\\Users\\userpc\\Dropbox\\code\\web\\burrow-app\\multiply-big-number
[submodule "modulo-big-number"]
	path = modulo-big-number
	url = C:\\Users\\userpc\\Dropbox\\code\\web\\burrow-app\\modulo-big-number
[submodule "half-page"]
	path = half-page
	url = C:\\Users\\userpc\\Dropbox\\code\\web\\burrow-app\\half-page
[submodule "node_modules"]
	path = node_modules
	url = C:\\Users\\userpc\\Dropbox\\code\\web\\burrow-app\\node_modules
[submodule "library"]
	path = library
	url = C:\\Users\\userpc\\Dropbox\\code\\web\\burrow-app\\library
[submodule "nth-root"]
	path = nth-root
	url = C:\\Users\\userpc\\Dropbox\\code\\web\\burrow-app\\nth-root
[submodule "generate-random-port-number"]
	path = generate-random-port-number
	url = C:\\Users\\userpc\\Dropbox\\code\\web\\burrow-app\\generate-random-port-number
[submodule "generate-random-mean-time"]
	path = generate-random-mean-time
	url = C:\\Users\\userpc\\Dropbox\\code\\web\\burrow-app\\generate-random-mean-time
[submodule "ng-bind-dom"]
	path = ng-bind-dom
	url = C:\\Users\\userpc\\Dropbox\\code\\web\\burrow-app\\ng-bind-dom
[submodule "ng-safe-apply"]
	path = ng-safe-apply
	url = C:\\Users\\userpc\\Dropbox\\code\\web\\burrow-app\\ng-safe-apply
[submodule "absurd-compiler"]
	path = absurd-compiler
	url = C:\\Users\\userpc\\Dropbox\\code\\web\\burrow-app\\absurd-compiler
[submodule "absurd-reset"]
	path = absurd-reset
	url = C:\\Users\\userpc\\Dropbox\\code\\web\\burrow-app\\absurd-reset
[submodule "revolver"]
	path = revolver
	url = C:\\Users\\userpc\\Dropbox\\code\\web\\burrow-app\\revolver
[submodule "work"]
	path = work
	url = C:\\Users\\userpc\\Dropbox\\code\\web\\burrow-app\\work
[submodule "convert-to-sequence"]
	path = convert-to-sequence
	url = C:\\Users\\userpc\\Dropbox\\code\\web\\burrow-app\\convert-to-sequence
[submodule "convert-to-sequence-index"]
	path = convert-to-sequence-index
	url = C:\\Users\\userpc\\Dropbox\\code\\web\\burrow-app\\convert-to-sequence-index
