[submodule "add-big-number"]
	path = add-big-number
	url = https://github.com/volkovasystems/add-big-number.git
[submodule "divide-big-number"]
	path = divide-big-number
	url = https://github.com/volkovasystems/divide-big-number.git
[submodule "multiply-big-number"]
	path = multiply-big-number
	url = https://github.com/volkovasystems/multiply-big-number.git
[submodule "modulo-big-number"]
	path = modulo-big-number
	url = https://github.com/volkovasystems/modulo-big-number.git
[submodule "half-page"]
	path = half-page
	url = https://github.com/volkovasystems/half-page.git
[submodule "node_modules"]
	path = node_modules
	url = https://github.com/volkovasystems/node_modules.git
[submodule "library"]
	path = library
	url = https://github.com/volkovasystems/library.git
[submodule "nth-root"]
	path = nth-root
	url = https://github.com/volkovasystems/nth-root.git
[submodule "generate-random-port-number"]
	path = generate-random-port-number
	url = https://github.com/volkovasystems/generate-random-port-number.git
[submodule "generate-random-mean-time"]
	path = generate-random-mean-time
	url = https://github.com/volkovasystems/generate-random-mean-time.git
[submodule "ng-bind-dom"]
	path = ng-bind-dom
	url = https://github.com/volkovasystems/ng-bind-dom.git
[submodule "ng-safe-apply"]
	path = ng-safe-apply
	url = https://github.com/volkovasystems/ng-safe-apply.git
[submodule "absurd-compiler"]
	path = absurd-compiler
	url = https://github.com/volkovasystems/absurd-compiler.git
[submodule "absurd-reset"]
	path = absurd-reset
	url = https://github.com/volkovasystems/absurd-reset.git
[submodule "revolver"]
	path = revolver
	url = https://github.com/volkovasystems/revolver.git
[submodule "convertToSequenceIndex"]
	path = convertToSequenceIndex
	url = https://github.com/volkovasystems/convertToSequenceIndex.git
[submodule "calculatePartition"]
	path = calculatePartition
	url = https://github.com/volkovasystems/calculatePartition.git
[submodule "convertToSequence"]
	path = convertToSequence
	url = https://github.com/volkovasystems/convertToSequence.git
[submodule "work"]
	path = work
	url = https://github.com/volkovasystems/work.git
[submodule "convert-to-sequence"]
	path = convert-to-sequence
	url = https://github.com/volkovasystems/convert-to-sequence.git
[submodule "convert-to-sequence-index"]
	path = convert-to-sequence-index
	url = https://github.com/volkovasystems/convert-to-sequence-index.git
[submodule "permutate-lexicographically"]
	path = permutate-lexicographically
	url = https://github.com/volkovasystems/permutate-lexicographically.git